<div class="auth-page" style="background-color: #fff; background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center; padding-left: 10px; padding-right: 10px;">
  <div class="card p-4 shadow-lg" style="width: 480px; background-color: rgba(0, 0, 0, 0.7); color: white; border-radius: 12px;">
    <div class="text-center mb-3">
      <img src="<%= asset_path('logo.png') %>" alt="logo" class="mb-3" style="width: 100px; height: auto;">
      <h3 class="fw-bold">Login</h3>
    </div>

    <!-- Show error messages only if they are set -->
    <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
    
    
    <%= form_with scope: :user, url: session_path(:user), local: true, class: "mb-3" do |f| %>
      <div class="mb-3">
        <%= f.email_field :email, autofocus: true, class: "form-control form-control-lg", placeholder: "Email", style: "background-color: #ffffff; color: black;" %>
      </div>
      <div class="mb-3">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "Password", style: "background-color: #fff; color: black;" %>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-6">
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
        <%= link_to "Forgot your password?", new_user_password_path, class: "text-white-50 text-decoration-none" %>
      </div>
      <div class="d-grid">
        <%= f.submit "Login", class: "btn btn-light btn-lg" %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= link_to "Or you can Sign up", new_user_registration_path, class: "btn btn-light btn-sm" %>
    </div>
  </div>
</div>
